<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>todolist</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<style type="text/css">
	ul li { list-style: none; }
	.main { width: 100%; display: flex; align-items: center; justify-content: center; margin: 15px 0px;}
	.cc { float: right; }
	td { display: flex; align-items: center; justify-content: space-between; padding: 5px 20px !important; }
</style>
<body>
	<div class="container" id="app">
		<h1 style="text-align: center;">ToDoList</h1>
		<div class="main">
			<div class="left">
				 <input type="text" 
				 class="form-control" 
				 id="exampleInputEmail1" placeholder="请输入内容" v-model="content">
			</div>
             <div class="right">
             	 <!-- 添加 -->
				<button type="button" class="btn btn-primary" @click="add">添加</button>
             </div>
		</div>
		<table class="table table-condensed">
			<tr>
		      <td class="active" v-for="(list, index) in lists">
				{{ list.id}} . {{ list.name }}
			      <button type="submit" class="btn btn-default cc" @click="del(index)">
			      删除
			      </button>
			  </td>
			</tr>
		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
	new Vue({
		el: '#app',
		data: {
			content: '',
			lists: [
		 	  {id:1,name: '吃饭'},
		  	  {id:2,name: '睡觉'},
			  {id:3,name: '挤痘痘'}
			]
		},
		methods: {
			add() {
				//判断 : 是否空
				if(this.content=='' ) {
					alert('请输入内容')
					return 
				}
				//遍历 判断是否重复
				let flag=this.lists.forEach(item => {
					if(item.name==this.content) 
					{ 
						alert('备忘事件已存在')
						return false
					}
				});
				if(flag){
					//保存
					this.lists.push({
						id:this.lists.length+1,
						name :this.content
					})
					// 清空
					this.content = ''
				}
				
			},
			del(index) {
				this.lists.splice(index, 1)
			}
		}
	})
	</script>
</body>
</html>